<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tae.myufc_app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main_events.event_details.Event_Details_Main" />
        <activity android:name=".octagon_girls.octagon_girls_details.OctagonGirlsDetails_Main" />
        <activity android:name=".more_ufc.MediaTab_Main" />
        <activity android:name=".main_events.NewsDetail_Activity" />
        <activity android:name=".buy_tickets.buy_tickets_activity" />
        <activity android:name=".live_stream.live_stream_activity"></activity>
    </application>

</manifest>